<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<h1>Actualizar Proveedor</h1>
	<form th:action="@{/proveedor/actualizar}" th:object="${proveedor}" method="post">
		<p>
			<input type="text" th:field="*{idProveedor}" placeholder="ID" readonly>
		</p>
		<p>
			<input type="text" th:field="*{razonSocial}" placeholder="Ingrese Razon Soc" required="required">
		</p>
		<p>
			<input type="text" th:field="*{ruc}" placeholder="Ingrese ruc" required="required">
		</p>
		<p>
			<input type="text" th:field="*{direccion}" placeholder="Ingrese direccion" required="required">
		</p>
		<p>
			<input type="text" th:field="*{ubigeo}" placeholder="Ingrese ubigeo" required="required">
		</p>
		<p>
			<input type="text" th:field="*{telefono}" placeholder="Ingrese telefono" required="required">
		</p>
		<p>
			<input type="text" th:field="*{correo}" placeholder="Ingrese correo" required="required">
		</p>
		<p>
			<input type="submit" value="actualizar">
		</p>
	</form>
</body>

</html>