<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index Prueba</title>
</head>

<body>
	<h2>Litado de Proveedores</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>RazonSocial</th>
				<th>RUC</th>
				<th>Dirección</th>
				<th>Ubigeo</th>
				<th>Telefono</th>
				<th>Correo</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="proveedor:${listaProveedor}">
				<td th:text="${proveedor.idProveedor}"></td>
				<td th:text="${proveedor.razonSocial}"></td>
				<td th:text="${proveedor.ruc}"></td>
				<td th:text="${proveedor.direccion}"></td>
				<td th:text="${proveedor.ubigeo}"></td>
				<td th:text="${proveedor.telefono}"></td>
				<td th:text="${proveedor.correo}"></td>
				<td>
					<a th:href="@{/proveedor/borrar/{idProveedor}(idProveedor=${proveedor.idProveedor})}">Borrar</a>
				</td>
				<td>
					<a th:href="@{/proveedor/editar/{idProveedor}(idProveedor=${proveedor.idProveedor})}">Editar</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>