<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<h1>Nuevo Producto</h1>
	<form th:action="@{/producto/guardar}" th:object="${producto}" method="post">
		<p>
			<input type="text" th:field="*{descripcion}" placeholder="Ingrese descripcion" required="required">
		</p>
		<p>
			<input type="text" th:field="*{idProductoCategoria}" placeholder="Ingrese idProductoCategoria" required="required">
		</p>
		<p>
			<input type="submit" value="guardar">
		</p>
	</form>
</body>

</html>